################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Functions.IOC/.vs
/Functions.IOC/Project.Services/obj/Debug
/Functions.IOC/packages
/Functions.IOC/Project.Services/bin/Debug
